@media screen and (max-width: 300px) {
	html {
		font-size:10px !important;
	}
}

html {
	color: #a7a8b7;
}

header > div > div,
main > div > div > div > div > div {
	background-color: transparent !important;
}

header > div > div > div > div > div,
main > div > div > div > div,
nav[role="navigation"],
header > div > div > div > nav {
	background-color: #333238 !important;
}

div[dir="auto"],
div[role="article"] a,
div[role="article"] div > span,
section[role="region"] a,
section[role="region"] div > span {
	color: #a7a8b7 !important;
}

header > div > div > div > div > div > div,
div[role="presentation"] {
	background-color: transparent !important;
}

body::-webkit-scrollbar {
	overflow: hidden;
	width: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
body::-webkit-scrollbar:horizontal {
	height: 5px;
}
body::-webkit-scrollbar-button {
	display: none;
}
body::-webkit-scrollbar-piece {
}
body::-webkit-scrollbar-piece:start {
}
body::-webkit-scrollbar-thumb {
	background: #eee;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
body::-webkit-scrollbar-corner {
	background: #eee;
	overflow:hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
